* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
    font-family: sans-serif;
    height: 100%;
}

body {
    background: #10131c;
    display: flex;
    flex-direction: column;
    border: 3px solid #6630A4;
    width: 50%;

}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.screen {

    color: #fff;
    background: #333849;

}

.calculator {
    background: #212532;
    border: 1px solid #333;
}

::placeholder {
    color: #fff;
}

#row1 {
    display: flex;

}

.symbol,
.number {
    color: #fff;
}

.symbol {
    background: #5d68e2;
}

.number {
    background: #333849;
}