html,
body {
    font-size: 16px;
    font-family: sans-serif;
    height: 100%;
}

body {
    background: #10131c;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.screen {
    border-radius: .75rem;
    font-size: 2rem;
    height: 2rem;
    color: #fff;
    background: #333849;
    text-align: end;
    padding: .5rem;
}

.calculator {
    background: #212532;
    display: grid;
    grid-template-columns: (4, 2fr);
    gap: .75rem;
    width: 325px;
    border: 1px solid #333;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::placeholder {
    color: #fff;
}

.symbol,
.number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
    border-radius: 50%;
}

.symbol {
    background: #5d68e2;
}

.number {
    background: #333849;
}