body {
    font-family: Open Sans;
    background-color: #10131c;
    display: flex;
    flex-direction: row;
    width: 50%;
}

section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div {
    text-align: center;
    flex: 1;
    padding: 30px 30px 30px 30px;
    border: 2px solid #10131c;
    background-color: #212532;
    font-family: sans-serif;
    font-size: 100%;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    flex-basis: 0;
    flex-grow: 1;
}

button:focus {
    outline: none;
}

.calculator {
    background: #212532;
    display: grid;
    gap: .75rem;
    width: 185px;
    border: 1px solid #333;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen {
    border-radius: .75rem;
    font-size: 2rem;
    height: 3rem;
    color: #fff;
    background: #333849;
    text-align: end;
    padding: .5rem;
    flex-basis: 0;
    flex-grow: 5;
}

.symbol,
.number {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    aspect-ratio: 1;
    font-size: 2rem;
    color: #fff;
    border-radius: 20%;
    transition: .50s ease;
}

.symbol {
    background: #5d68e2;
}

.number {
    background: #333849;
}